<div class="partners">
	<h3>Sponsors</h3>
	<div class="picture-frame">
	  <%= link_to image_tag('osu-logo.png') %>
	  <%= link_to image_tag('engLogo-web.png') %>
	  <%= link_to image_tag('gunnarLogo.jpg') %>
	  <%= link_to image_tag('valveLogo.jpg') %>
	  <%= link_to image_tag('osu-logo.png') %>
	  <%= link_to image_tag('canesLogo.jpg') %>
	  <%= link_to image_tag('razorLogo.jpg') %>
	</div>
	<h3>Partners</h3>
	<div class="picture-frame">
	  <%= link_to image_tag('nationwideLogo.jpg') %>
	</div>
	<h3>Honorable Mentions</h3>
	<div class="picture-frame">
	  <%= link_to image_tag('papaLogo.jpg') %>
	  <%= link_to image_tag('markpiLogo.gif') %>
	  <%= link_to image_tag('donutsLogo.jpg') %>
	</div>
</div>